@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-page="/TeeVitsi">Lähetä vitsi</a></p>
    <p><a asp-page="/LueVitsit">Lue vitsit</a></p>
</div>